.skills {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}
.skill {
    border: 10px solid black;
}

