.section {
    background-color: #155799;
    color: white;
    padding-bottom: 3.0em;
}

.skills {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-wrap: nowrap;
    
    margin: 0 30%;
    justify-content: center; 
    
}
.skill {
    border: 10px solid black;
    flex-grow: 1;
    flex-basis: 0;
    text-align: justify;
    hyphens: auto;   
}
#subTitle {
    /* text-align: center; */
}
