@media only screen and (max-width: 1100px) {
    .container { 
        margin: 5% 10% !important;
    }
    
    .bio {
        margin: 5% 0% !important;
    }
}
@media only screen and (max-width: 700px) {
    .container {
        display: inline !important;
    }
    .bio {
        margin: 3% 10% !important;
        hyphens: auto;
    }
    
}

.container {
    /* display: grid;
    grid-template-columns: [bio] 1fr [whom] 2fr; */
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    margin: 1.5% 25%;
    
}

.bio {
    font-family: 'PT Sans', sans-serif;
    text-align: justify;
    /* hyphens: auto; */
    font-size: 1.3em;
}

.whom { 
    /* display: flex; */
    /* margin: 1.5% 5%; */
}