@media only screen and (max-width: 800px) {
    .navBar { 
        visibility: hidden;
    }
}

@keyframes changeOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.navBar {
    animation-name: changeOpacity; 
    animation-duration: 1.5s;
    text-align: right;
    background-color: rgba(255, 250, 250, 0.555); 
    border-right: 6px solid #159957;
    border-left: 6px solid #155799;
    /* position: absolute;
    top: 4%;
    left: 65%;   */
        position: absolute;
        top: 20px;
        right: 30px;
        margin-right: 5.0em;
}

.navBar li { 
    display: inline;
    list-style-type: none;
    padding: 0.3em 1.1em;
   
}

.navBar a {
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;
    text-shadow: 2px 2px 3.5px black;
    color: snow; 
    font-size: 1.75em;
    text-align: center;
    transition: text-shadow .2s ease-in;
    
}
.navBar a:hover {
    /* background-color: #155799b6; */
    text-shadow: 2px 2px 1.5px black;

}


#secondChild {
    border-left: 2px solid #ababab;
    border-right: 2px solid #ababab;
}