.container {
    display: flex;
    justify-content: center;
    color: black;
    margin: 1% 15%;
}
.container a {
    text-decoration: none;
    /* font-weight: 700; */ 
    color: #155799;
}
.container a:hover {
    text-decoration: underline;
}
