@media only screen and (max-width: 800px) { 
    .container {
        display: block !important;
        margin: 0 auto !important;
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* box-sizing: border-box;
    margin-top: 3%; 
     line-height: 0;
    column-count:   5;
    column-gap:
        0px;   */
        max-width: 80%;
        min-width: 20%;
        /* width: 175%; */
        /* height: auto; */
    margin-left: 7%;
}