.skill {
    border: 1px solid #abababaf;
    border-radius: 2px;
    flex-basis: 0;
    flex-grow: 1;
    /* padding: 1.0%; */
    background-color: white;
    color: black;
}

.icon { 
    /* background-image: linear-gradient(to  bottom left, RGBA(21, 87, 153, 0.65), RGBA(21, 153, 87, 0.36));
    border-radius: 80px;
    padding: 0.3em; */
    color: rgb(255, 255, 255); 
    /* border-radius: 150px; */
    /* background- */
    padding: 0.5em;
    margin: 0.2em;

}
.iconBackground {
    background-color: RGBA(21, 153, 87, 1);
    text-align: center;
}

.text {
    padding: 0.4em 0;
    font-size: 1.45em;
    margin: 2.5% 10%;
    padding-bottom: 2.5%; 
    border-bottom: 1px solid #ababab;
    text-align: center;
  
}